<link rel="stylesheet" href="/site_media/css/avatar.css">
<div class="content">
    <table width="95%" border="1" align="center" cellpadding="2" cellspacing="2" class="main_table" style="border=1">
      <tr>
        <th scope="col">评分人</th>
        <th scope="col">分数</th>
        <th scope="col">评分时间</th>
      </tr>
      {% for obj in object_list %}
      <tr onMouseOver="this.style.backgroundColor='#FFFBAC';" onMouseOut="this.style.backgroundColor=''">
        <td>{{obj.a|default_if_none:"--"}}</td>
        <td>
        {% if obj.score %}
        {{obj.score}}
        {% else %}--{% endif %}
        
        </td>
        <td>{{obj.times}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  
